# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
venv/
.venv/
env/

node_modules/
venv/
.venv/
.expo/
dist/



# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem


# Ignore Firebase Credentials
*serviceAccountKey.json
*-7803f-*.json
smartattend-7803f-7e839dfe49db.json

# Ignore Python Cache (This is why your AWS keys leaked)
__pycache__/
*.py[cod]
*$py.class


# Ignore AI Models and heavy binaries
services/ai-engine/models/
*.pt
*.pth
*.bin
*.safetensors
*.onnx